@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
  --primary-green:#47bab7;
  --primary-color-navbar: #f8f9fa;
}

body {
  font-family: "Roboto Condensed" sans-serif;
}

/* navbar */
.logo {
  width: 3.75rem;
}
/* menu links */
nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-green) !important;
  border-bottom: 0.1875rem solid var(--primary-color-navbar);
}

/* .navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
} */

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-bottom: 0.1875rem solid var(--primary-green);
}

.navbar-nav > li > a:hover {
  border-bottom: 0.1875rem solid var(--primary-green);
}
